<div class="row">
  <div class="col s6 offset-s3">
    <div class="card-panel teal">
      <span class="white-text">
            <%= @tweet.name %><br></br>
            <%= @tweet.text %><br></br>
            <iframe width="560" height="315" src="<%= @tweet.movie_url.gsub("watch?v=" , "embed/")%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </span>
      <br></br>
      <a class="waves-effect waves-light btn" data-method="get" href="/minibrog/<%= @tweet.id %>/edit">編集</a>
      <a class="waves-effect waves-light btn" rel="nofollow" data-method="delete" href="/minibrog/<%= @tweet.id %>">削除</a>
      <a class="waves-effect waves-light btn">リツイート</a>
    </div>
  </div>
</div>
